.jumbotron {
    background-color: darkcyan;
    color: white;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: darkcyan;
    margin-bottom: 0px;
    margin-top: 10px;
}

footer, footer a {
    color: white;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-visitar {
    width: 100%;
    background-color: darkcyan;
    color: white;
}